body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}



/* custom added below */

:root {
  --avatar-size: 2rem;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}
.container {
  display: -webkit-inline-box;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
}
.circle {
  width: 50%;
  background-color: #fff;
  border-radius: 50%;
  color: #333;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
}

.initials {
  font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
  line-height: 1;
  color: #333;
  position: relative;
  top: calc(var(--avatar-size) / 5); /* 25% of parent */
}
.h6{
  font-weight: 300;
  padding-top: 0.30rem;
  padding-left: 0.30rem;
  text-align: center;
  color: #fff;
}


/*----  card Style  ----*/
/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #fff;
}

#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}

/* #cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
} */
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding-top:  10px;
  padding-bottom: 5px;
}
/* #cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #007bff;
} */
#cards_landscape_wrap-2 .card-flyer .text-box p{
  font-weight: bold;

  color: #03a519;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  /* font-weight: bold; */
  /* font-family: 'Roboto Black', sans-serif; */
  color: #000000;
} 

/*----  card Style  end ----*/
.btn-toolbar .h6{
  padding-right: 1rem;
    padding-top: 0.25rem;
}



.parent_div > * {
  display: inline-block;
}
.constraint {
  margin-top: 1.5rem!important;
  overflow: auto;
  white-space: nowrap;

}


.footer_nav {
  text-align: center;
}

.list-group-flush > li.active {
  background-color : #ced4da !important;
  color: #000000;
}

.table-sm thead tr { 
  background-color : #ced4da !important;
  color: #000000;
  border-width: 0px 0px 1px;
  padding: 0.5rem 1rem;

}


.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #000 !important;
    background-color: transparent !important;
}

.breadcrumb li a{
  text-decoration: none;
  outline: none;
}

.btn-right {
  float: right!important
}